/* GLOBAL HERO
============================= */

.global--hero
{
    width: 100%;
    min-height: 100vh;
    padding: 40px 0;
    color: #fff;
}

.global--hero article
{
    position: absolute;
    top: 50%;
    width: 100%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    text-align: center;
}

.global--hero p
{
    margin-bottom: 20px;
}

/* HOMEPAGE
============================= */

.homepage--hero
{
    background: url('src/assets/homepage-hero.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;

}

.featured--retreats--cards
{
    width: 100%;
    min-height: auto;
    padding: 40px 0;
    background: url('src/assets/homepage-hero.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
}
