.navbar {
  -webkit-transition:padding 0.2s ease;
  -moz-transition:padding 0.2s ease;
  -o-transition:padding 0.2s ease;
  transition:padding 0.2s ease;
}

.affix {
  padding-top: 0.2em !important;
  padding-bottom: 0.2em !important;
  -webkit-transition:padding 0.2s linear;
  -moz-transition:padding 0.2s linear;
  -o-transition:padding 0.2s linear;
  transition:padding 0.2s linear;
}

.scrolling-navbar.scrolled
{
  background: $color__darkblue;
}

.navbar.scrolling-navbar {
  -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
  -o-transition: background .5s ease-in-out,padding .5s ease-in-out;
  transition: background .5s ease-in-out,padding .5s ease-in-out;
  // padding:2rem;
  padding-top: 4%;
  padding-right: 5%;

  @include media-breakpoint-down(sm) {
    padding:1rem;
  }
}

.navbar li > a {
  text-transform: $uppercase;
  font-weight: 700;
  letter-spacing: $ltrspacingWide;
}

.navbar-dark .navbar-nav .nav-link {
  color: $color__white;
}

.navbar-dark .navbar-nav .show>.nav-link, .navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .nav-link.active {
  color: $color__lightgold;
}

.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus {
  color: rgba($color__lightgold,0.90);
}

@include media-breakpoint-down(md) {
  .navbar {
    background-color: $color__darkblue;
  }
  .navbar-dark .navbar-toggler {
    color: rgba($color__lightgold,0.5);
    border-color: rgba($color__lightgold,0.5);
  }

  .navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(251,209,139, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
}

// footer

.footer--social {
  padding-bottom:1rem;
}

.footer--social i {
  color: $color__lightgold;
  padding:0 .6rem;

  transition:color .8s ease-in-out;
  &:hover {
    color: $color__white;
  }
}

// Social Buttons
.footer--social .btn-fb,
.footer--social .btn-tw,
.footer--social .btn-insta,
.footer--social .btn-arrow-down {
  font-size: 2rem;
}


.footer--content {

}

.footer--content h5 {
  color: $color__lightgold;
  letter-spacing: $ltrspacingWide;
  padding-bottom:1rem;
  border-bottom: 2px solid $color__lightgold;
  width: fit-content;
  display: table;
}

#menu-footer-menu li.list-inline-item,
#menu-footer-menu-1 li.list-inline-item {
  display: block;
}

#menu-footer-menu li.list-inline-item .nav-link,
#menu-footer-menu-1 li.list-inline-item .nav-link {
  padding-left:0;
}

#menu-footer-menu > .list-inline-item .nav-link,
#menu-footer-menu-1 > .list-inline-item .nav-link {
  display: inline;
  line-height:2;
}









