@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

/*!--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# 1. Normalize


/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
@import "normalize";

/*--------------------------------------------------------------
# Variables
--------------------------------------------------------------*/
@import "variables/main";

/*--------------------------------------------------------------
# Heros
--------------------------------------------------------------*/
@import "navigation";

/*--------------------------------------------------------------
# Heros
--------------------------------------------------------------*/
@import "heros";

/*--------------------------------------------------------------
# Components
--------------------------------------------------------------*/
@import "components";



/*--------------------------------------------------------------
# CUSTOMISATION
--------------------------------------------------------------*/



.custom-logo-link img {
    width:14%;

    @include media-breakpoint-down(md) {
        width:23%;
    }
}

// h1.home {
    //     font-size: $fontSizeHX;
    //     font-family: $font__roboto;
    //     text-transform: $normalcasing;
    //     font-weight: 400;
    //     // padding:1.2rem 0;
    // }

    .overlay-menu {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0, 0.9);
        overflow-x: hidden;
        transition: 0.5s;
    }

    .overlay-content {
        position: relative;
        top: 25%;
        width: 100%;
        text-align: center;
        margin-top: 30px;
    }

    .overlay a {
        padding: 8px;
        text-decoration: none;
        font-size: 36px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }

    .overlay a:hover, .overlay a:focus {
        color: #f1f1f1;
    }

    .overlay .closebtn {
        position: absolute;
        top: 20px;
        right: 45px;
        font-size: 60px;
    }

    @media screen and (max-height: 450px) {
      .overlay a {font-size: 20px}
      .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

h1 {
    text-shadow: 0 2px 0 rgba(0,0,0,0.50);
}

.card-header {
    margin-top: 0;
}

.the-content > p {
    -moz-column-count: 2;
    -moz-column-gap: 3rem;
    -webkit-column-count: 2;
    -webkit-column-gap: 3rem;
    column-gap: 3rem;
    column-count: 2;
    text-align: justify;
    text-justify: inter-word;

}

.twocols {
    -moz-column-count: 2;
    -moz-column-gap: 3rem;
    -webkit-column-count: 2;
    -webkit-column-gap: 3rem;
    column-gap: 3rem;
    column-count: 2;
}









