
html {
  box-sizing: border-box;
  overflow-x:hidden;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body
{
  font-family: $font__site;
  background: $color__background;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
  line-height: $font__line-height-body;


}

h1, h2, h3, h4, h5, h6 {
  clear: both;
  line-height: 1;
  font-weight: 700;
  text-transform: $uppercase;
  margin:1rem 0;
}

h1 {
  font-size: $fontSizeLG;

  @include media-breakpoint-down(sm) {
    font-size: $fontSizeHD;
  }

}

h2 {
  font-size: $fontSizeHD;

  @include media-breakpoint-down(sm) {
    font-size: $fontSizeSB;
  }
}

h3, h4, h5, h6 {
  font-size: $fontSizeHX;
}

p {
  font-size: $fontSizeBody;
  line-height: 1.6;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.btn {
  &:active,
  &:focus {
    outline: none;
    box-shadow: none;
  }
}


/* Buttons styles */
input::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

a.btn, .btn {
  display: inline-block;
  outline: none;
  *zoom: 1;
  text-align: center;
  text-decoration: none;
  letter-spacing: .025rem;
  vertical-align: middle;
  font-weight: 700;
  border: 2px solid;
  transition: all 0.2s ease;
  box-sizing: border-box;
  text-shadow: 0 1px 0 rgba(0,0,0,0.01);
  font-size: 1.0625em;
  padding: 0.5625em 1.5em;
  border-radius: .25rem;
  box-shadow: 0 5px 10px 0 rgba(0,0,0,.35);
}

.btn-white-gold {
  color: $color__white;
  border-color: $color__white;

  &:hover {
    background: $color__lightgold;
    color: $color__white;
    border-color: $color__lightgold;
  }
}

.btn-gold-white {
  color: $color__lightgold;
  border-color: $color__lightgold;

  &:hover {
    background: $color__white;
    color: $color__lightgold;
    border-color: $color__white;
  }
}

.btn-gold {
  color: $color__lightgold;
  border-color: $color__lightgold;

  &:hover {
    background: $color__lightgold;
    color: $color__lightblue;
    border-color: $color__lightgold;
  }
}

//
.btn-white-blue {
  color: $color__white;
  border-color: $color__white;

  &:hover {
    background: $color__darkblue;
    color: $color__white;
    border-color: $color__darkblue;
  }
}

.btn-blue-white {
  color: $color__darkblue;
  border-color: $color__darkblue;

  &:hover {
    background: $color__white;
    color: $color__darkblue;
    border-color: $color__white;
  }
}

.btn-blue {
  color: $color__white;
  border-color: $color__darkblue;

  &:hover {
    background: $color__darkblue;
    color: $color__lightgold;
    border-color: $color__darkblue;
  }
}

a {
  color: inherit;

  &:hover,
  &:focus,
  &:active {
    color: $color__lightgold;
    text-decoration:none;
  }
  &:focus {
    outline: none;
  }
  &:hover,
  &:active {
    outline: 0;
  }
}

section {
  margin:0;
}

hr {
  background-color: rgba($color__darkgold,0.85);
  border: 0;
  height: 1px;
  margin: 1rem auto;
  width:20%;

  @include media-breakpoint-down(sm) {

    width:30%;
  }

}

img {
  height: auto;
  max-width: 100%;
}

figure {
  margin: 1em 0;
}

ul {
  list-style:none;
}

footer {
  background: $color__darkblue;
  @include blueGradient;
  color:$color__white;
  padding:4rem 0;
}

// Font Spacing In Heros ; p












