$fontSizeH1: 30px;
$fontSizeH2: 24px;
$fontSizeHX: 18px;
$fontSizeBody: 16px;


$fontSizeLG: 30px;

$font__roboto: 'Raleway', sans-serif;
$font__cinzel: 'Cinzel', sans-serif;
$font__line-height-body: 1.5;

$uppercase: uppercase !important;
$normalcasing: none !important;




