//
$fontSizeLG: 50px;
$fontSizeMD: 40px;
$fontSizeSM: 30px;
//
$fontSizeHD: 24px;
$fontSizeSB: 18px;
$fontSizeBD: 16px;

//
$fontSizeH1: 30px;
$fontSizeH2: 24px;
$fontSizeHX: 18px;
$fontSizeBody: 16px;


$font__site: 'Raleway', sans-serif;
$font__line-height-body: 1.5;

$uppercase: uppercase !important;
$normalcasing: none !important;

$ltrspacingWide: 0.2rem;
$ltrspacingNorm: normal;





