/*--------------------------------------------------------------
# 1.0 HOMEPAGE
--------------------------------------------------------------*/

/* PILLARS OF SUCCESS
============================= */
.pillars--success {
    @include goldGradient;
    margin:.05rem 0;
}

.pillars--success h2 {
    font-size: $fontSizeMD;
    color: $color__darkblue;
    letter-spacing: $ltrspacingWide;
    padding-bottom: 1rem;
    border-bottom: 2px solid $color__darkblue;
    width: fit-content;
    display: table;
}

.pillars--success .left--col p {
    font-size: $fontSizeSB;
}

.pillars--success i {
    font-size: $fontSizeH1;
    color: $color__lightgold;
}

.pillars--success .card {
    padding:2rem 0;
}

.pillars--success .card .card-body {
    color: $color__white;
    z-index: 100;
    padding:4rem 1rem;
}

.pillars--success .card .card-body h3 {
    font-size: $fontSizeHD;
    text-transform: $normalcasing;
    text-shadow: 0 5px 5px rgba(0,0,0,0.3);
}

.pillars--success .card
{
    position:relative;
    width: 100%;
    color: $color__white;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover!important;


    &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: linear-gradient(to right top, #0f1c44, #202648, #2d304d, #393a51, #454555);
        opacity: .8;
    }

}

/* FEATURED RETREATS
============================= */

.featured--retreats {

}

.featured--retreats h2 {
    font-size: $fontSizeSM;
    color: $color__white;
    letter-spacing: $ltrspacingWide;
    text-shadow: 0 5px 5px rgba(0,0,0,0.3);
    padding-bottom: 1rem;
    border-bottom: 2px solid $color__lightgold;
    width: fit-content;
    display: table;
}



.featured--retreats .card {
    position: relative;
    color: $color__white;
    width:100%;
    height:100%;
}

.featured--retreats .card-body {
    position: absolute;

}

.featured--retreats .card-body p {
    font-size: $fontSizeSB;
}

.featured--retreats .img-gradient {
    position:relative;
    display:inline-block;
    background:transparent;
    transition: all 0.2s ease;

    &:before {
        content:'';
        position:absolute;
        transition: all 0.2s ease;
        left:0;
        top:0;
        width:100%;
        height:100%;
        display:inline-block;
        background-image: linear-gradient(to right top, #0f1c44, #202648, #2d304d, #393a51, #454555);
        opacity: .75;
    }

    &:hover:before {
       // background-image: linear-gradient(to right top, #fbd18b, #f1c587, #e7ba83, #dcaf80, #d1a47c);
       opacity: .98;
       cursor: pointer;
   }

}

.featured--retreats .img-gradient img {
  display:block;
}





/*--------------------------------------------------------------
# 2.0 RETREAT PAGE
--------------------------------------------------------------*/

/* RETREATS CARDS
============================= */
.all--retreats h2 {
    font-size: $fontSizeSM;
    // color: $color__white;
}

.all--retreats i {
    font-size: $fontSizeHX;
    color: $color__black;
}

.all--retreats p {
    margin-bottom:.5rem;
    color: $color__white;
}

.all--retreats p.location  {
    color: $color__lightgold;
}

.all--retreats a.text-link {
    z-index: 100;
    color: $color__white;
    text-decoration:underline;
}

.all--retreats .card {
    margin:2rem 0;
    background: rgba(255,255,255,0.5);
}

.all--retreats .card-body {
    padding:0.5rem 1.25rem 1.25rem
}

.all--retreats {
    @include goldGradient;
    padding: 40px 0;
}

// .all--retreats {
    //     position: relative;
    //     width: 100%;
    //     min-height: auto;
    //     margin-top: 20px;
    //     padding: 40px 0;
    //     background: url(src/assets/background__hp__featured_rts.jpg) no-repeat center center fixed;
    //     -webkit-background-size: cover;
    //     -moz-background-size: cover;
    //     -o-background-size: cover;
    //     background-size: cover;

    //     &:before {
        //         content: '';
        //         position: absolute;
        //         top: 0;
        //         right: 0;
        //         bottom: 0;
        //         left: 0;
        //         // v1.
        //         background-image: linear-gradient(to right top, #0f1c44, #202648, #2d304d, #393a51, #454555);
        //         opacity: .5;
        //     }
        // }

/*--------------------------------------------------------------
# 3.0 RETREAT SINGLE
--------------------------------------------------------------*/

/* INTRO
============================= */

.retreat--intro {
    padding:2rem 0;
    @include lightGoldGradient;
}

.retreat--intro h3 {
    font-size: $fontSizeHD;
    letter-spacing: $ltrspacingWide;
    color: $color__darkblue;
    padding-bottom: 1rem;
    border-bottom: 2px solid $color__darkblue;
    width:fit-content;
    display: table;
    margin:1rem auto;
}

.retreat--intro p {
    margin-bottom:0;
    font-size:$fontSizeSB;
    color: $color__darkgold;
    font-weight: 700;
}

.retreat--intro i {
    color: $color__darkblue;
    margin-right:.5rem;
}

.the-content > p {
    -moz-column-count: 2;
    -moz-column-gap: 3rem;
    -webkit-column-count: 2;
    -webkit-column-gap: 3rem;
    column-gap: 3rem;
    column-count: 2;
    text-align: justify;
    text-justify: inter-word;
    font-size: $fontSizeBD;
    font-weight: 400;
    margin: 2rem 0;
    color: $color__black;
}


.twocols {
    -moz-column-count: 2;
    -moz-column-gap: 3rem;
    -webkit-column-count: 2;
    -webkit-column-gap: 3rem;
    column-gap: 3rem;
    column-count: 2;
}

/* GALLERY
============================= */
.retreat--gallery {
    background: $color__white;
}

/* WHAT'S INCLUDED
============================= */

.retreat--included {
    @include offWhiteGradient;
    padding:2rem 0;
}

.retreat--included h2 {
    font-size: $fontSizeHD;
    letter-spacing: $ltrspacingWide;
    color: $color__darkblue;
    padding:1rem 0;
}


.retreat--included p {
    margin-bottom:0;
    line-height:1.2;
}

.retreat--included i {
    font-size: 9px;
    color: $color__darkblue;
    padding-top: 0.2rem;
}

/* HIGHTLIGHTS
============================= */

.retreat--highlights {
    background: $color__darkblue;
    @include blueGradient;
    padding:2rem 0;
}

.retreat--highlights .card {
    margin:1rem 0;
    background-color: $color__lightblue;
    box-shadow: 0 30px 40px -15px rgba(0,0,0,0.25);
}

.retreat--highlights .card h2 {
    color: $color__lightgold;
    margin-top: 0;
    font-size: $fontSizeSB;
    letter-spacing: $ltrspacingWide;

}

.retreat--highlights .card p {
    color: $color__white;
    font-style:italic;
}

/* ROOMS
============================= */

.retreat--rooms {
    position: relative;
    width: 100%;
    min-height: auto;
    background: url(src/assets/single__bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 5rem 0;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        // v1.
        background-image: linear-gradient(to right top, #0f1c44, #202648, #2d304d, #393a51, #454555);
        opacity: .5;
    }
}

.retreat--rooms .card {
    border: inherit;
    box-shadow: 0 30px 40px -15px rgba(0,0,0,0.40);
    background-color: $color__lightgold;
    @include goldGradient;
}

.retreat--rooms .card h2 {
    font-size: $fontSizeHD;
    color: $color__darkblue;
    letter-spacing: $ltrspacingWide;
    padding-bottom:1rem;
    border-bottom: 1px solid rgba(255,255,255,0.5);
}

.retreat--rooms .card p {
    color:$color__white;
}

.retreat--rooms .card p.price {
    font-size: $fontSizeH2;
}

.retreat--rooms .card .list-group .list-group-item {
    background-color: rgba(255,255,255,0);
    border-radius: inherit;
    border-right:none;
    color: $color__white;
    border-bottom: 1px solid rgba(255,255,255,0);

    &:last-child {
        border-bottom: 1px solid rgba(0,0,0,0.1);
    }
}

.retreat--rooms .card .list-group .list-group-item i {
    font-size: 9px;
    color: $color__darkblue;
    padding-top: .5rem;
    padding-right: 1rem;
}

/* FLIGHT
============================= */

.retreat--flights h2 {
    font-size: $fontSizeHD;
    letter-spacing: $ltrspacingWide;
    color: $color__white;
}

.retreat--flights {
    @include blueGradient;
    color:$color__white;
    padding:2rem 0;
}

.retreat--flights .flight--info {
    padding: 2.5rem 2.5rem 1rem;
    background-color: rgba(8,12,123,1);
    box-shadow: 0 30px 40px -15px rgba(0,0,0,0.45);
    width:60%;
}

.retreat--flights .flight--info i {
    font-size: $fontSizeHD;
}

.retreat--flights .li-middle {
    padding: 2.5rem;
}

.retreat--flights .flight--info .badge-warning {
    color: $color__lightblue;
    background-color: $color__lightgold;

}

.retreat--flights .flight--info .badge {
    display: inline-block;
    padding: .5em;
}

.retreat--flights .flight--info .badge-pill {
    padding-right: 1em;
    padding-left: 1em;
    border-radius: 10rem;
}

/*--------------------------------------------------------------
# 4.0 ALL TESTIMONIALS
--------------------------------------------------------------*/

.all--testimonials {
    padding:4rem 0;
    @include offWhiteGradient;
}

.all--testimonials .item {
    margin: 1rem .5rem;
}

.all--testimonials .card {
    box-shadow: 0 2px 20px rgba(0,0,0,0.15);

}

.all--testimonials .item {
   // background-image: linear-gradient(to right top, #fbd18b, #f3cf8b, #eccd8b, #e5ca8c, #dec88c);
   background-image: linear-gradient(to right top, #fde3b7, #f8ddaa, #f2d79c, #ecd18f, #e5cb82);
}

.all--testimonials h2 {
    font-size: $fontSizeHD;
    letter-spacing: $ltrspacingWide;
    color: $color__darkblue;
    padding-botton:1rem;
}

.all--testimonials h5 {
    font-size: $fontSizeBD;
    color: $color__darkblue;
}

.all--testimonials p {
    font-style: italic;
    color: $color__black;
}

.all--testimonials q
{
    font-size: 5vw;
    line-height: .1em;
    quotes: '\201C' '\201D' '\2018' '\2019';
    color: $color__white;
    font-style:italic;
    font-family: sans-serif;
}

.all--testimonials q:before
{
    position: relative;
    top:2rem;
    left: -40%;
    content: open-quote;
}

.all--testimonials q:after
{
    position: relative;
    top:2rem;
    right: -40%;
    content: close-quote;
}
























